.container{
	max-width: 1170px;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*header*/
.header{
	padding: 20px 0px;
	background-color: white;
}

.navigation-ul{
	display: flex;
}
.navigation-li{
	margin-right: 35px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}
.navigation-li:last-child{
	margin-right: 0px;
}
.navigation-a{
	color: #3D58A6;
}
.social-ul{
	display: flex;
}
.social-li:after{
	content: '';
	height: 30px;
	width: 2px;
	background-color: #3D58A6;
	display: inline-block;
	margin: 0px 30px;
}
.social-li:last-child:after{
	display: none;
}
.fa-google-plus-g{
	font-size: 38px;
	color: #3D58A6;
}
.fa-facebook-f{
	font-size: 38px;
	color: #3D58A6;
}
.fa-youtube{
	font-size: 38px;
	color: #3D58A6;
}
.fa-search{
	font-size: 38px;
	color: red;
}
/*under-header-section*/
.under-header{
	background-color: #EE4036;
}
.under-header-box{
	padding: 35px 0px;
	width: 100%;
}
/*about*/
.section-about-boxes{
	padding: 60px 0px 30px 0px;
}
.under-header-h1{
	font-size: 22px;
	color: #fff;	
}
.isari-img{
	padding: 30px;
	border: 2px solid #EE4036;
}
.compi-img{
	padding: 80px;
	border: 2px solid #EE4036;
}
.raket-img{
	padding: 30px;
	border: 2px solid #EE4036;
}
.box-h1{
	color: #EE4036;
	margin: 10px 0px 10px 0px;
}
.box-h2{
	color: #58595B;

}
.border-background {
    background-color: #EE4036;
    width: 100%;
    height: 2px;
    display: block;
}
/*team*/
.section-team{
	padding: 35px 0px 130px 0px;
}
.h1-team{
	color: #EE4036;
	display: flex;
	margin-bottom: 50px;
}
.test{
	justify-content: space-between;
	align-items: center;
}
.social-background{
	background-color: #BDCCD4;
	height: 90px;
	align-items: center;
	justify-content: flex-end;
}
.Fourth-box{
	background-color: #E6E6E6;
	padding: 35px 0 30px 0;
}
.Fourth-box h1 {
	font-size: 24px;
	color: black;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
}
.Fourth-box h2 {
	font-size: 24px;
	color: black;
	font-family: 'Roboto', sans-serif;
	display: inline-block;

}
.hh1:after{
	content: '';
	height: 24px;
	width: 2px;
	background-color: #000000;
	margin: 0 10px;
	display: inline-block;
}
.child{
	background-color: white;
	padding: 15px 9px 15px 15px;

}
.text{
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	color: #333333;
	width: 344px;
}

.white-box{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}
.white-box p {
	width: 344px;
}
.read{
	display: flex;
	justify-content: flex-end;
}
.mshobeli h3{
	color: #3D58A6;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;

}
.titi{
	margin-right: 55px;
}
.read{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #3D58A6;
}
.mshobeli{
	margin-top: 35px;
}
.footer{
	height: 50px;
	background-color: #fff;	
}
.par-footer{
	font-size: 12px;
	color:#000000;
	margin: 22px 0;
}
.par-footer-2{
	font-size: 12px;
	color:#000000;
	
}
@media (max-width: 768px) {
  .navigation {
    display: none;
      }
  .social-ul{
  	display:  none;
  }
  .about-boxes{
  	flex-wrap: wrap;
  }
  .raket{
  	margin-top: 40px;
  }
  .raket-img{
  	padding-right: 497px;
  }
  .team{
  	flex-wrap: wrap;
  }
  .kaci-1{
  	margin-right: 150px;
  }
  .kaci-2{
  	margin-right: 157px;
  }
  .kaci-3{
  	margin-top: 150px;
  }
  .kaci-4{
  	margin-right: 157px;
  	margin-top: 150px;
  }
  .soc-a{
  	display: none;
  }
  .Fourth-box{
  	display: none;
  }
}
